@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

p {
  color: #f0a9d2;
  transform: translateX(5%);
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000

}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c5f3bf;
  font-family: inter, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  
  margin-top: 50px;
  margin-bottom: 80px;

  position: center;
  width: 100vw;
  height: auto;

  border-radius: 16px;
  background-color: white;
  
  border: 2px solid #1B1B1B;
  box-sizing: border-box;
  box-shadow: 6px 6px 0px #1B1B1B;
  border-radius: 8px;
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#exit {
  align-self: flex-end;
}

h1 {
  margin-left: 10px;
  font-size: 2rem;
  font-weight: 800;
  
}

label {
  font-weight: 600;
}

input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 10px;
  padding: 16px 24px;
  width: 90%;
  height: 15%;
  left: 1048px;
  top: 16px;
  background: #FFFFFF;
  border: 2px solid #1B1B1B;
  box-sizing: border-box;
  border-radius: 16px;
  transition: 0.2s;
}

textarea:focus, input:focus{
  outline: none;
  background: #f5bbdd;
  border: 3px solid #1B1B1B;
  border-radius: 16px;
}

.exp-cvc {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.expiration {
  font-size: 0.75rem;
  width: 50%;
  margin-right: 20px;
}

.security {
  font-size: 0.75rem;
  width: 50%;
  margin-left: 20px;
}

span {
  padding-left: 5px;
  cursor: pointer;
}

.btn {
  background-color: #f5bbdd;
  border: 2px solid #1B1B1B;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 16px 32px 16px 16px;
  text-align: center;
  font-weight: 800;
  margin-top: 20px;
  
  width: 141px;
  height: 56px;
  left: 16px;
  top: 88px;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-end;
  cursor: pointer;
  transition: 0.16s ease-out;
}

.btn:hover {
  background: #f0a9d2;
  border: 4px solid #1B1B1B;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 4px #89aa85;
  border-radius: 16px;
}

#exit {
  cursor: pointer;
}

h2 {
    transform: translateX(-90%);

}

.wave-text span {
    display: inline-block;
    font-size: 4rem;
    animation: wave 2s ease-in-out infinite;
}

.wave-text span:nth-child(1) {
    animation-delay: 0s;
}
.wave-text span:nth-child(2) {
    animation-delay: 0.2s;
}
.wave-text span:nth-child(3) {
    animation-delay: 0.4s;
}
.wave-text span:nth-child(4) {
    animation-delay: 0.6s;
}
.wave-text span:nth-child(5) {
    animation-delay: 0.8s;
}
.wave-text span:nth-child(5) {
    animation-delay: 1.0s;
}
.wave-text span:nth-child(6) {
    animation-delay: 1.2s;
}
.wave-text span:nth-child(7) {
    animation-delay: 1.4s;
}
.wave-text span:nth-child(8) {
    animation-delay: 1.6s;
}
.wave-text span:nth-child(9) {
    animation-delay: 1.8s;
}
.wave-text span:nth-child(10) {
    animation-delay: 2.0s;
}
.wave-text span:nth-child(11) {
    animation-delay: 2.2s;
}
.wave-text span:nth-child(12) {
    animation-delay: 2.4s;
}
.wave-text span:nth-child(13) {
    animation-delay: 2.6s;
}
.wave-text span:nth-child(14) {
    animation-delay: 2.8s;
}
.wave-text span:nth-child(15) {
    animation-delay: 3.0s;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}






